body {
    color: #333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888;
    border-top: 1px solid #eee;
    margin-top: 10px;
    padding: 16px 0;
}

footer a {
    color: #888;
    font-weight: bold
}

a:hover {
    transition: all .5s;
    filter: opacity(0.5);
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin: 0 0 16px 0;
}

a {
    color: #888;
    text-decoration: none;
}

header a {
    margin: 0 16px;
    color: #888;
}

.portrait {
    margin: 50px;
    width: 200px;
    border-radius: 25px;
}

input {
    outline: none;
    border: 1px solid #ccc;
    padding: 8px;
    margin: 8px;
    border-radius: 16px;
}

button {
    cursor: pointer;
    border-radius: 16px;
    border: 1px solid #888;
    background: #888;
    color: white;
    padding: 9px;
}

button:hover {
    filter: opacity(0.5)
}